/* Set the font family and text color */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(43, 72%, 53%);
    background-image: url("../static/1483382.JPG");
    background-size: cover;
}

/* Center the container and add some padding */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the heading elements */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Style the background and border of the weather information boxes */
.weather-box {
    background-color: #e0e0e0;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* Additional styling for the temperature display */
.weather-box p {
    font-size: 48px;
    margin-left: 10px;
}

/* Style the form and input elements */
#cityForm {
    margin-top: 20px;
}

#cityInput {
    padding: 10px;
    font-size: 18px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #db762e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #9c4100;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
    .weather-box p {
        font-size: 36px;
        margin-left: 5px;
    }

    #cityInput {
        font-size: 16px;
    }

    button[type="submit"] {
        padding: 8px 16px;
        font-size: 16px;
    }
}
